@(walmartCom:String, pangaea: String, dev:String, qa:String, pqa:String, prod:String, application:String, platform:String, infrastructure:String, startDate:String, endDate:String )

<section style="padding-top:50px" id="getJSON">
<div class="well" >
	<p>Get JSON via Calling URL:</p> 
	<p><b>http://sdc-d1-pangaea-devops:9000/getJson/startDate/endDate</b></p>
	<p>Here is the json result of calling: </p>
	<p><b>http://sdc-d1-pangaea-devops:9000/getJson/@startDate/@endDate</b></p>
    <div class="controls">
    <pre>
    	{
    		track:{
    			pangaea: "@pangaea",
    			walmart.com: "@walmartCom"
    		},
    		prod:{
    			prod:"@prod",
    			qa:"@qa",
    			dev:"@dev",
    			pqa:"@pqa"
    		},
    		layer:{
    			application:"@application",
    			platform:"@platform",
    			infrastructure:"@infrastructure"
    		},
    		startDate:"@startDate",
    		endDate:"@endDate"
    	}
	</pre>
	</div>
</div>
</section>